.home-container {
  display: grid;
  grid-template-columns: 200px, 250px;
  grid-template-rows: minmax(150px, auto);
  grid-gap: 20px;
  grid-template-areas: "header header" "displaypost displaypost" "rightnav rightnav";
}
.home-header-container {
  grid-area: header;
}
.home-displaypost-container {
  grid-area: displaypost;
}
.home-rightside-container {
  grid-area: rightnav;
}
