/* .header-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  border-radius: 4px;
  width: 100vw;
  height: 100px;
  overflow: hidden;
} */

/* .header-container-logo {
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
} */
/* .header-logo {
  height: 100px;

  margin-right: 400px;
}
nav {
  padding: 20px;
  background-color: #fff;
}
i {
  padding: 20px;
  font-size: 25px;
} */
