:root {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}
.signup-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup-contianer {
  margin-top: 20px;
  background-color: #fff(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 80px;
  border-radius: 4px;
  width: 1200px;
  height: 600px;
  flex-direction: row;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}
.signup-logo {
  width: 600px;
  height: 600px;
  margin-right: 20px;
}

.signup-form {
  margin-top: 90px;
  height: 400px;
  width: 500px;
}
.signup-form label:hover {
  color: var(--twitter-color);
}
.sign-username,
.sign-password,
.sign-firstname,
.sign-lastname {
  outline: none;
  background-color: transparent;
  border: 0;
  border-bottom: 2px rgb(86, 211, 222) solid;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
}
.signup-button {
  padding: 10px;
  background-color: var(--twitter-color);
  cursor: pointer;
  text-decoration: none;
  color: var(--twitter-background);
  border: 0.125em solid;
  margin: 5px;
  text-transform: capitalize;
  font-size: 1.2rem;
  border-radius: 55px;
  width: 300px;
  font-weight: 800;
}
.signup-button:hover {
  background-color: #0f93e5;
  color: var(--twitter-background);
  border: 2px solid rgb(210, 208, 208);
  font-size: 1.3rem;
}
.fa-twitter {
  font-size: 55px;
}
