:root {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}
.editbox-input img {
  border-radius: 50%;
  height: 40px;
}
.editbox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}
.editbox form {
  display: flex;
  flex-direction: column;
}
.editbox-input {
  display: flex;
  padding: 20px;
}
.editbox-input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}
.editbox_submitbutton {
  background-color: var(--twitter-color);
  border: flex;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
}
.editbox_discardbutton {
  background-color: var(--twitter-color);
  border: flex;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
}
.editbox-button {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 20px;
}
